* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
}

.details {
    padding-top: 20px;
    
    .output-wrapper {
        display: grid;
        grid-template-columns: 50% 100px ;
        grid-row: auto;
        margin: 10px 0;
        font-size: 1.5em;

        label {
            grid-column: 0 1;
            text-align: right;
            margin-right: 10px;
        }
        
        input {
            grid-column: 1 2;
            font-size: 1em;

            background-color: transparent;
            border: none;
        }
    }

    p {
        text-align: center;
        display: block;
        width: auto;
    }
}